name: Maven Project

on: push
jobs:
  say-hello:
    name: Say hello
    runs-on: ubuntu-22.04
    steps:
        - name: Update dependency graph
          uses: advanced-security/maven-dependency-submission-action@v3
          continue-on-error: true

        - name: scp ssh pipelines - Copy WAR to server
          uses: appleboy/scp-action@master
          with:
            host: ${{secrets.HOST}}
            username: ${{secrets.USERNAME}}
            password: ${{secrets.PASSWORD}}
            port: ${{secrets.PORT}}
            source: "target/*.war"
            target: "/tmp/"
        - name: Verify WAR copied
          uses: appleboy/ssh-action@master
          with:
            host: ${{secrets.HOST}}
            username: ${{secrets.USERNAME}}
            password: ${{secrets.PASSWORD}}
            port: ${{secrets.PORT}}
            script: |
              ls -lart /tmp


        - name: Invoke Jenkins deployment job
          uses: appleboy/jenkins-action@master
          with:
            url: "http://3.84.184.20:8080"
            user: "admin"
            token: ${{ secrets.JENKINS_TOKEN}}
            job: "TomcatDeployment"