name: Maven Project

on: push
jobs:
  say-hello:
    name: Say hello
    runs-on: ubuntu-22.04
    steps:
        - name: Update dependency graph
          uses: advanced-security/maven-dependency-submission-action@v3

        - name: scp ssh pipelines
          uses: appleboy/scp-action@master
          with:
            host: ${{secrets.HOST}}
            user: ${{secrets.USERNAME}}
            pass: ${{secrets.PASSWORD}}
            port: ${{secrets.PORT}}
            scp: |
              ./target/*.war => /tmp/
            last_ssh: |
              ls -lart /tmp

        - name: Invoke Jenkins deployment job
          uses: appleboy/jenkins-action@master
          with:
            url: "http://3.84.184.20:8080"
            user: "admin"
            token: ${{ secrets.JENKINS_TOKEN}}
            job: "TomcatDeployment"